/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos */
body {
    font-family: 'Roboto', sans-serif; /* Utilizar la fuente Roboto */
    font-size: 16px; /* Tamaño de fuente base */
    background-color: #f2f2f2; /* Color de fondo general */
}

header {
    background-color: #1C1C1C;
    color: #FA3D3B;
    padding: 20px;
    text-align: center; /* Centrar el contenido del encabezado */
}

header h1 {
    margin: 0;
    font-size: 2rem; /* Tamaño de fuente más grande para el título */
}

nav ul {
    list-style-type: none;
    text-align: center; /* Centrar los elementos de la lista */
}

nav ul li {
    display: inline-block; /* Mostrar los elementos de la lista en línea */
    margin-right: 20px;
}

nav ul li a {
    color: #c6c6c6;
    text-decoration: none;
    font-weight: 500; /* Añadir peso a la fuente */
    transition: color 0.3s ease; /* Transición suave para el color */
}

nav ul li a:hover {
    color: #fff; /* Cambiar el color al pasar el mouse */
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar los elementos en el eje principal */
}

.movie {
    width: calc(33.33% - 40px);
    margin: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
}

.movie:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

.movie img {
    width: 50%; /* Ajustar imagen al ancho del contenedor */
    max-height: 150px; /* Limitar la altura máxima de la imagen */
    object-fit: cover; /* Ajustar la imagen manteniendo la relación de aspecto */
    border-top-left-radius: 8px; /* Añadir bordes redondeados a la imagen */
    border-top-right-radius: 8px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos del botón con animación */
button {
    padding: 0.8em 1.8em;
    border-radius: 8px;
    background-color: transparent;
    color: #17c3b2;
    border: 2px solid #17c3b2;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s ease; /* Añadir transición al cambio de color de fondo */
}

button:before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s ease;
    transform: translate(-50%, -50%) rotate(45deg);
    display: block;
    z-index: -1;
    background-color: #17c3b2;
}

button:hover::before {
    width: 105%;
}

button:hover {
    color: #fff;
    background-color: #17c3b2; /* Cambiar el color de fondo al pasar el mouse */
}
