/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #1C1C1C;
    color: #FA3D3B;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #c6c6c6;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: calc(33.33% - 40px);
    margin: 20px;
    text-align: center;
}

.movie img {
    width: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
    animation: fadeIn 0.5s ease, scaleIn 0.5s ease;
}

/* Estilos del botón con animación */
button {
    padding: 0.8em 1.8em;
    border-radius: 8px;
    background-color: transparent;
    color: #e71e25;
    border: 2px solid #17c3b2;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s ease; /* Añadir transición al cambio de color de fondo */
}

button:before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s ease;
    transform: translate(-50%, -50%) rotate(45deg);
    display: block;
    z-index: -1;
    background-color: #17c3b2;
}

button:hover::before {
    width: 105%;
}

button:hover {
    color: #111;
    background-color: #17c3b2; /* Cambiar el color de fondo al pasar el mouse */
}
